.header-warpper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #142036;
    color: white;
    height: 4rem
}
.header-warpper .title-wrapper{
    width: 26rem;
    display: flex;
    justify-content: space-between;
}
.header-warpper .icon{
    width: 4em;
    height: 4em;
}
.header-warpper .title{
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 4rem;
    text-wrap: pretty;
    width: 20rem;
}